html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
  background-color: #849d8f;
}
.site-wrapper {
  min-width: 1240px;
  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0 27px;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}
.site-wrapper::before {
  background-image: url("../img/ice-cream-2.png");
}
.site-wrapper::after {
  background-image: url("../img/ice-cream-3.png");
}
.site-catalog-wrapper {
  background-image: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}
/*========= Navigation ============*/

.main-header-logo {
  display: block;
  width: 154px;
  height: 64px;
  margin-right: 10px;
  flex-shrink: 0;
}
.slider {
  position: relative;
  padding-top: 274px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 41px;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
.slide {
  display: none;
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream-1.png");
  background-position: center 0;
}
#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice-cream-2.png");
  background-position: center 0;
}
#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice-cream-3.png");
  background-position: center 0;
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
#product-1:hover ~ .site-wrapper label[for="product-1"],
#product-2:hover ~ .site-wrapper label[for="product-2"],
#product-3:hover ~ .site-wrapper label[for="product-3"] {
  background-color: #b2c1b7;
  cursor: pointer;
}
#product-1:visited ~ .site-wrapper label[for="product-1"],
#product-2:visited ~ .site-wrapper label[for="product-2"],
#product-3:visited ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
.button {
  display: inline-block;
  padding: 12px 39px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 1;
  font-size: 0;
}
/* Навигация сайта _+++++++++++++++++++++++++*/

.main-navigation {
  width: 100%;
  display: flex;
  padding-top: 10px;
}
.site-navigation {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
  padding-top: 13px;
  min-height: 70px;
}
.user-navigation {
  display: flex;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-top: 18px;
  list-style: none;
}
.user-navigation-container {
  margin-left: auto;
}
.nav-container {
  display: flex;
}
.user-nav-btn {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
  min-width: 96px;
  padding: 9px 16px;
  padding-left: 40px;
  margin-left: 7px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}
.login-link .user-nav-btn:hover {
  background: #f8f7f4;
}
.user-nav-btn-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #323232;
  min-width: 96px;
  padding: 9px 16px;
  padding-left: 40px;
  margin-left: 7px;
  border-radius: 50px;
  background-color: #f8f7f4;
}
.user-nav-btn-current:hover,
.user-nav-btn-current:focus {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #323232;
  min-width: 96px;
  padding: 9px 16px;
  padding-left: 40px;
  margin-left: 7px;
  border-radius: 50px;
  background-color: #f8f7f4;
}
.login-link {
  position: relative;
  padding: 0 5px;
}
.login-link svg {
  position: absolute;
  top: 2px;
  left: 25px;
}
.login-link:hover path,
.login-link:hover circle {
  fill: #323232;
  stroke: #323232;
}
.user-nav-btn:hover {
  background-color: #f8f7f4;
  color: #323232;
  text-decoration: none;
}
.modal-login {
  display: none;
  position: absolute;
  top: 33px;
  left: -180px;
  width: 280px;
  height: 217px;
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 17px;
  border-radius: 10px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
  z-index: 3;
}
.modal-login .login-email input {
  box-sizing: border-box;
  display: block;
  width: 244px;
  height: 47px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  padding: 0;
  padding-left: 16px;
  margin-bottom: 17px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}
.modal-login .login-password input {
  box-sizing: border-box;
  display: block;
  width: 244px;
  height: 47px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  padding: 0;
  padding-left: 16px;
  margin-bottom: 17px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}
.login-link:hover .modal-login {
  display: block;
}
.login-email input:hover {
  border: 2px solid rgba(154, 154, 154, 0.5);
}
.login-email input:active {
  border: 1px solid rgba(46, 136, 228, 0.5);
}
.login-password input:hover {
  border: 2px solid rgba(154, 154, 154, 0.5);
}
.login-password input:active {
  border: 1px solid rgba(46, 136, 228, 0.5);
}
.enter-btn {
  display: inline-block;
  color: #fefefe;
  background-color: #e74a35;
  font-family: Roboto-Bold;
  font-size: 18px;
  color: #fefefe;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 700px;
  padding: 11px 25px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.enter-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.enter-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.forget-pass {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  margin-bottom: 5px;
  margin-top: 3px;
}
.forget-pass:hover,
.new-registration:hover {
  color: #e84d37;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}
.forget-pass:active,
.new-registration:active {
  color: #e84d37;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}
.new-registration {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}
.forget-pass,
.new-registration {
  display: block;
  min-width: 113px;
}
.login-col {
  display: flex;
  flex-wrap: wrap;
}
.login-col p {
  margin: 0;
  padding: 0;
}
.login-col-right {
  margin-left: 17px;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.2);
}
.login-col-right p {
  margin-bottom: 5px;
}
.your-order {
  position: relative;
  padding: 0 3px;
}
.your-order svg {
  position: absolute;
  top: 2px;
  left: 23px;
}
.your-order .user-nav-btn:hover {
  background: #f8f7f4;
}
.your-order:hover path,
.your-order:hover circle {
  fill: #323232;
  stroke: #323232;
}

/* ======= Корзина =========*/

.modal-order {
  /*
  display: none;
  position: absolute;
  top: 33px;
  right: 0;
  width: 540px;
  padding:14px;
  border-radius: 10px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
  z-index: 3;
}
.your-order:hover .modal-order {
  display: block;*/

}

.modal-order  {
    position: absolute;
    top: 37px;
    right: 0;
    z-index: 20;
    /* display: none; */
    box-sizing: border-box;
    width: 540px;
    padding: 15px 15px 20px;
    color: #323232;
  background-color: #f8f7f4;
    border-radius: 5px;
    box-shadow: 0 20px 20px rgba(0,0,0,.4);
}

.cart-item {
    width: 100%;
    border-bottom: 1px solid #cacac7;
}

.cart-item a {
    font-weight: 400;
    text-decoration: none;
}

.cart-item, .cart-item a {
    font-size: 13px;
    line-height: 16px;
    color: #323232;
}

.cart-item img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.cart-item td {
    padding-right: 5px;
    padding-bottom: 15px;
    vertical-align: middle;
}

.item-width {
  width: 228px;
}

.cart-item span {
    color: #999;
}

.cart-total-price {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
}

.modal-order .order-btn {
    float: right;
    padding-right: 15px;
    padding-left: 15px;
}


.order-btn {
    display: inline-block;
    padding: 10px 22px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    vertical-align: top;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    background-image: -webkit-linear-gradient(bottom,#ca3824 0%,#f26843 100%);
    background-image: linear-gradient(to top,#ca3824 0%,#f26843 100%);
    border: none;
    border-radius: 25px;
    outline: none;
    box-shadow: 0 2px 2px rgba(85,8,0,.54);
    cursor: pointer;
}
.order-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.order-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.catalog-item-sm {
  font-size: 13px;
  letter-spacing: 0;
  line-height: 16px;
  font-weight: 400px;
  color: #323232;
}

.cart-close-button-1 {
  position: absolute;
  top: 28px;
  left: -14px;
  width: 11px;
  height: 11px;
  padding: 0;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.cart-close-button-2 {
  position: absolute;
  top: 78px;
  left: -14px;
  width: 11px;
  height: 11px;
  padding: 0;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.cart-close-button-1:active,
.cart-close-button-2:active {
}




.search:hover path {
  fill: #323232;
}
.search:hover {
  background-color: #f8f7f4;
}
.search {
  position: relative;
  width: 35px;
  height: 35px;
  padding: 9px;
  margin-top: -6px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}
.modal-search {
  display: none;
  position: absolute;
  top: 42px;
  left: -310px;
  background-color: #f8f7f4;
  width: 344px;
  height: 87px;
  padding: 20px 15px;
  border-radius: 10px;
  background: #F8F7F4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
}
.modal-search input {
  box-sizing: border-box;
  display: block;
  width: 314px;
  height: 47px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  padding: 0;
  padding-left: 16px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}
.search:hover .modal-search {
  display: block;
}
.modal-search input:hover {
  border: 2px solid rgba(154, 154, 154, 0.5);
}
.modal-search input:active {
  border: 1px solid rgba(46, 136, 228, 0.5);
}
.main-navigation-wrapper {
  width: 100%;
}
.sub-menu {
  position: absolute;
  top: 35px;
  left: 0;
  padding-left: 0;
  margin: 0;
  width: 146px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #323232;
  background-color: #F8F7F4;
  list-style: none;
  display: none;
  text-decoration: none;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.40);
  border-radius: 5px;
  z-index: 3;
}
.sub-menu-item {
  width: 100%;
  padding-left: 11px;
}
.sub-menu-item:hover {
  background-color: #FBDED7;
}
.sub-menu-item:active {
  background-color: #F6B5A5;
  width: 146px;
}
.new-sub:hover {
  background-color: #FBDED7;
  width: 146px;
}
.sub-menu-item-current {
  background-color: #d07058;
}
.sub-menu-link {
  color: #323232;
  padding: 10px;
}
.new-sub {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 14px;
  padding-bottom: 13px;
}
.work-hours {
  color: #fff;
  margin-left: 79px;
}
.work-hours-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding: 0;
  padding-left: 15px;
  padding-bottom: 3px;
  margin: 0;
  text-align: right;
}
.work-hours-phone {
  font-size: 22px;
  line-height: 27px;
  font-weight: 700;
  color: #fff;
  padding: 0;
  margin: 0;
  text-align: right;
}
/* ============== BREADCRUMBS ==============*/

.breadcrumbs-current {
  color: #ffffff;
  text-decoration: none;
}
.breadcrumbs {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 16px;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
  list-style: none;
}

ul.breadcrumbs li {display: inline;}
ul.breadcrumbs li+li:before {
    padding: 8px;
    color: #ffffff;
    content: "\00bb";
}
.breadcrumbs-underline {
  text-decoration: underline;
  text-decoration-color: rgba(151, 172, 160, 0.2);
}
.breadcrumbs a {
  color: #fff;
}
.breadcrumbs li {
 
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #FFBC9E;
  text-decoration: underline;
  text-decoration-color: #a8a184;
}

.ice-cream {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  padding: 0;
  margin: 0;
}
.fat-list {
  list-style: none;
}
.flavor-list {
  list-style: none;
}
.orders-list {
  list-style: none;
}

.row, 
.row-inline {
    padding: 0 10px;
}

.pagination {
    float: right;
    margin: 35px 0 30px;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.pagination-active {
  color: #323232;
}

.pagination a:active, 
.pagination-active {
    color: #323232;
    background-color: #fff;
  border-radius: 50%;
}
.pagination-page:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.pagination li {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin: 0 0 0 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: rgba(255,255,255,.2);
}

.pagination a {
    display: block;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
}

.pagination li:first-child {
    margin-left: 0;
    font-size: 22px;
    text-align: left;
}

.pagination li:last-child {
    margin-left: 0;
    font-size: 22px;
    text-align: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}


.feature {
  margin-bottom: 40px;
}
.feature-item {
  width: 560px;
  height: 228px;
  padding: 20px;
  border-radius: 17px;
}
.feature-item-raspberry {
  background-color: #a0010e;
  background-image: url("../img/raspeberry-bgr.jpg");
  background-repeat: no-repeat;
  margin-right: 26px;
  background-position-x: -1px;
}
.feature-item-chocolate {
  background-color: #391d10;
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
}
.feature-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.feature-title {
  font-size: 35px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  margin: 0;
  margin-bottom: 16px;
}
.feature-desc {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  width: 535px;
  margin: 0;
}
.feature-btn {
  display: inline-block;
  padding: 11px 23px;
  margin-top: 43px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.feature-btn-raspberry {
  margin-left: 352px;
}
.feature-btn-chocolate {
  margin-left: 328px;
}
.feature-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.feature-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-bottom: 38px;
}
.hit {
  position: absolute;
  top: 0;
  left: 0;
}
.catalog-item {
  position: relative;
  width: 267px;
  margin-right: 26px;
  /*
  padding: 10px;
    padding-top: 8px;
    padding-bottom: 21px;
    flex-shrink: 0;*/
}
.catalog-item:nth-child(4n) {
  margin-right: 0;
}
.catalog-item-info {
  width: 265px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #9cb0a5;
}
.catalog-category {
  position: absolute;
  top: 209px;
  left: -1px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}
.catalog-item-img {
  width: 267px;
  height: 267px;
  border-radius: 50%;
  margin-bottom: 8px;
  flex-shrink: 0;
}
.kilo {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}
.catalog-item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  display: block;
  text-align: center;
}
.catalog-iceCream {
  padding: 0;
  margin: 0;
  position: relative;
}
.catalog-navigation {
  position: relative;
  margin-right: 2px;
  margin-bottom: 15px;
}
.catalog-link {
  display: inline-block;
  padding: 7px 13px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #acbdb3;
}
.catalog-link:hover,
.catalog-link:focus {
  background-color: #F7F6F3;
  color: #333333;
  text-decoration: none;
  border-radius: 20px;
  padding: 7px 13px;
}
.catalog-link:active,
.catalog-link:active {
  color: #333333;
  text-decoration: none;
  border-radius: 20px;
  padding: 7px 13px;
  background: rgba(248, 247, 244, 0.99);
  background: #EDEDED;
  box-shadow: inset 0 2px 1px 0 #696969;
}
.catalog-link-current {
  display: inline-block;
  padding: 7px 13px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background: #D07058;
  border-radius: 20px;
  text-decoration: none;
}
.item-btn {
  position: absolute;
  left: 50%;
  display: none;
  margin: 10px 10px 10px -101px;
  padding: 10px 18px;
  text-align: center;
  background-color: #e84d37;
  background-image: -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 1px 2px #ac1000;
}
.site-btn {
  display: inline-block;
  padding: 10px 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  background-image: -webkit-linear-gradient(bottom, #ca3824 0%, #f26843 100%);
  background-image: linear-gradient(to top, #ca3824 0%, #f26843 100%);
  border: none;
  border-radius: 25px;
  outline: none;
  box-shadow: 0 2px 2px rgba(85, 8, 0, .54);
  cursor: pointer;
}
.catalog-item:hover {
  display: block;
  background-color: aqua;
}
.company {
  color: #323232;
  background-color: #f2e9d1;
  background-image: url("../img/waffle-big.jpg");
  background-position: top center;
  width: 1146px;
  height: 306px;
  background-repeat: no-repeat;
  border-radius: 14px;
  padding-top: 25px;
  padding-left: 19px;
  padding-right: 31px;
  margin-bottom: 40px;
}
.company-info {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 22px;
  letter-spacing: 0.2px;
  text-align: left;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages-item {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  width: 537px;
  margin-bottom: 21px;
  padding-left: 58px;
  margin-right: -7px;
}
.advantages-item::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: -14px;
  left: 0;
}

.advantages-item:nth-child(1)::before {
  content: " ";
  background-image: url("../img/ice-cream.svg");
}

.advantages-item:nth-child(2)::before {
  content: " ";
  background-image: url("../img/cow.svg");
}

.advantages-item:nth-child(3)::before {
  content: " ";
  background-image: url("../img/eco.svg");
}

.advantages-item:nth-child(4)::before {
  content: " ";
  background-image: url("../img/thermometer.svg");
}
   

.box-size {
  width: 558px;
  height: 220px;
  border-radius: 15px;
  padding: 5px;
}
.news {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/straberry-bkg.jpg");
  padding-top: 23px;
  padding-left: 19px;
}
.news-subscribe {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}
.news-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 4px;
}
.news-item {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
  display: block;
  width: 300px;
}
.news-item:hover {
  text-decoration: none;
}
.subscribe {
  color: #5a5a5a;
  background-color: #fff;
  background-image: url("../img/bg-post.svg");
  border-image-repeat: repeat;
  display: block;
}
.subscribe-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
  padding: 0;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 10px;
  margin: 0;
  margin-bottom: 35px;
}
.subscribe-form {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  background-color: #f8f7f4;
  height: 100%;
  padding: 0;
  border-radius: 10px;
}
.subscribe input {
  box-sizing: border-box;
  display: inline-block;
  width: 367px;
  height: 43px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1.1px;
  color: #999999;
  padding: 0;
  padding-left: 12px;
  margin-left: 20px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}
.subscribe input:hover {
  border: 2px solid rgba(154, 154, 154, 0.5);
}
.subscribe input:active {
  border: 1px solid rgba(46, 136, 228, 0.5);
}
.subscribe-btn {
  display: inline-block;
  padding: 9px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-left: 6px;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.subscribe-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.subscribe-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.contacts {
  color: #323232;
  background-color: #ffffff;
  position: relative;
  width: 1240px;
  height: 430px;
  margin: 0 auto;
}
.contacts-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  display: block;
  width: 178px;
  margin-bottom: 2px;
}
.contacts-order {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  margin-top: 17px;
}
.contacts-address {
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  width: 304px;
  height: 307px;
  padding: 26px;
  padding-top: 29px;
  border-radius: 17px;
  background-color: #fff;
  position: absolute;
  top: 64px;
  left: 890px;
}
.contacts-tel {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.contacts-open {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}
.our-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.contacts-btn {
  display: inline-block;
  width: 251px;
  height: 46px;
  padding: 9px 26px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.contacts-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.contacts-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
/* Всплывающая форма обратной связи */

.modal-feedback {
  display: none;
  position: fixed;
  top: 10px;
  left: 50%;
  padding: 0;
  margin: 0;
  margin-left: -267px;
  padding: 16px 25px;
  width: 485px;
  height: 445px;
  background-color: #f8f7f4;
  border-radius: 10px;
  fill: #000000;
  z-index: 2
}
.modal-feedback h2,
.modal-feedback p {
  padding: 0;
  margin: 0;
}
.modal-close {
  position: absolute;
  top: 17px;
  left: 445px;
  width: 18px;
  height: 17px;
  padding: 0;
  font-size: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.feedback-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  margin-bottom: 19px;
}
.modal-feedback h2 {
  margin-bottom: 19px;
}
.modal-feedback p {
  margin: 0;
  margin-bottom: 17px;
}
.modal-feedback p input:hover {
  border: 2px solid rgba(154, 154, 154, 0.5);
}
.modal-feedback p input:active {
  border: 1px solid rgba(46, 136, 228, 0.5);
}
.user-name input {
  box-sizing: border-box;
  display: block;
  width: 270px;
  height: 47px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  padding: 0;
  padding-left: 16px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}
.user-password input {
  box-sizing: border-box;
  display: block;
  width: 270px;
  height: 47px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  padding: 0;
  padding-left: 16px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}
.modal-textarea {
  box-sizing: border-box;
  display: block;
  width: 431px;
  height: 158px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  padding: 0;
  padding-top: 8px;
  padding-left: 16px;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}
.modal-textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.5);
}
.modal-textarea:active {
  border: 1px solid rgba(46, 136, 228, 0.5);
}
.feedback-btn {
  display: inline-block;
  width: 141px;
  height: 46px;
  padding: 9px 25px;
  margin-left: 290px;
  margin-top: 23px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #fefefe;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}
.rouble {
  color: #999999;
}
.final-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
}
.item-order {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  background-color: #e74a35;
}
.option-item {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
}
.main-footer {
  display: flex;
  min-height: 102px;
  width: 100%;
}
.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 2px;
  margin-top: 35px;
  width: 187px;
  justify-content: space-between;
}
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  opacity: 0.;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 0.8;
}
.social-button:hover {
  opacity: inherit;
  background: rgba(255, 255, 255, 0.5);
}
.social-button:active path {
  fill: #e9e9e9;
  background: rgba(255, 255, 255, 0.7);
}
.footer-social ul {
  display: flex;
  width: 186px;
  list-style: none;
}
.contacts-container ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 330px;
}
.nav-contacts-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
.nav-contacts-col-left {
  position: relative;
  margin-right: 23px;
}
.nav-contacts {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 232px;
  margin-top: 37px;
}
.nav-contacts a {
  color: #ffffff;
  margin-bottom: 6px;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.2);
}
.nav-for-supplier {
  font-weight: 700;
}
.nav-for-supplier::before {
  content: " ";
  position: absolute;
  top: 1px;
  left: -21px;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
}
.catalog-navigation:hover .sub-menu {
  display: block;
}
.made-in-html {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-right: 2px;
}
.html-academy {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.2);
}
.copyright-img {
  width: 109px;
  height: 38px;
}
.footer-col-right {
  margin-left: auto;
  margin-top: 20px;
}
.modal-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 4;
  cursor: pointer;
}
