img {
max-width: 100%;
}

html {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

*,
*::before,
*::after {
-webkit-box-sizing: inherit;
box-sizing: inherit;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
white-space: nowrap;
-webkit-clip-path: inset(100%);
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.page {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
  text-decoration: underline;
  background-color: #849D8F;
  /*
    Дополнительные цвета фона при переключении слайдера

    background-color: #8996A6;
    background-color: #9D8B84;
    */
}
a {
  text-decoration: none;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation a,
.user-navigation a {
  color: #ffffff;
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #F7F6F3;
  color: #333333;
  text-decoration: none;
}
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #9FB3A8;
  color: #323232;
  text-decoration: none;
}
