img {
max-width: 100%;
}

html {
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

*,
*::before,
*::after {
-webkit-box-sizing: inherit;
box-sizing: inherit;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
white-space: nowrap;
-webkit-clip-path: inset(100%);
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.page {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;
  background-color: #849D8F;
  /*
    Дополнительные цвета фона при переключении слайдера

    background-color: #8996A6;
    background-color: #9D8B84;
    */
}

a {
  text-decoration: none;
}
.site-navigation,
.user-navigation {
  list-style: none;
}
.site-navigation a,
.user-navigation a {
  color: #ffffff;
}
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #F7F6F3;
  color: #333333;
  text-decoration: none;
}
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #9FB3A8;
  color: #323232;
  text-decoration: none;
}

.site-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
}

.sub-menu {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: #323232;
  background-color: #F8F7F4;
  list-style: none;
  display: none;
  text-decoration: none;
}

.new-sub {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.login-link,
.your-order {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.work-hours-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.work-hours-phone {
  font-size: 22;
  line-height: 24px;
  font-weight: bold;
}

.slide-text {
  font-size: 60px;
  line-height: 60,35px;
  font-weight: bold;
}

.order-btn {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;
  text-transform: none;
  text-decoration: none;
}



<!-- Stopped here +++++++++++++===================+++++++++++-->




.catalog-navigation:hover .sub-menu {
  display: block;
}

.modal-search {
  display: none;
}

.search:hover .search-svg path {
  fill: #000000;
}

.search:hover .modal-search {
  display: block;
}

.feature-item-raspberry {
  background-color: orange;
  background-image:;
  background: orange url("");
}
